* {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;

  /* Primary */
  --primary: #4d96a9;
  --primary-light: #8fe3f9;

  /* Secondary */
  --secondary: #855fb1;
  --secondary-light: #d9b8ff;

  /* Neutral */
  --black: #28283d;
  --gray: #87879d;
  --white: #fafafa;

  /* Typography */
  --h1: 64px;
  --h1-line-height: 64px;
  --h1-font-weight: 900;

  --h2: 40px;
  --h2-line-height: 44px;
  --h2-font-weight: 900;

  --body: 18px;
  --body-line-height: 26px;
  --body-font-weight: 500;

  --overline: 16px;
  --overline-line-height: 26px;
  --overline-letter-spacing: 4px;
  --overline-font-weight: 900;

  --button: 16px;
  --button-line-height: 16px;
  --button-font-weight: 900;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
  font-weight: var(--h2-font-weight);
}

button {
  border: none;
  outline: none;
  background: none;
}

.body-text {
  font-size: var(--body);
  line-height: var(--body-line-height);
  font-weight: var(--body-font-weight);
}

.overline-text {
  font-size: var(--overline);
  line-height: var(--overline-line-height);
  letter-spacing: var(--overline-letter-spacing);
  font-weight: var(--overline-font-weight);
}

@media (max-width: 768px) {
  :root {
    --h1: 48px;
    --h1-line-height: 48px;

    --h2: 40px;
    --h2-line-height: 44px;

    --body: 16px;
  }
}

@media (max-width: 375px) {
  :root {
    --h1: 40px;
    --h1-line-height: 44px;

    --h2: 32px;
    --h2-line-height: 36px;
  }
}
