.checkpoint-container {
}

.home-checkpoint {
  margin: 110px 0 65px 0;
}

@media (max-width: 768px) {
  .home-checkpoint {
    margin: 80px 0 68px 0;
  }
}

@media (max-width: 375px) {
  .home-checkpoint {
    margin: 64px 0;
  }
}
