.nav {
  display: flex;
  justify-content: center;
  margin: 80px 0 105px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.header-content-container {
  padding: 0 28px;
}

.header-img-left,
.header-img-right {
  position: absolute;
}

.header-img-tablet {
  display: none;
}

.header-img-left {
  top: -50px;
  right: calc(100% + 88px);
}

.header-img-right {
  top: 10px;
  left: calc(100% + 88px);
}

.header-title {
  text-align: center;
  color: var(--black);
  max-width: 445px;
}

.header-description {
  text-align: center;
  color: var(--gray);
  margin: 35px 0 32px 0;
  max-width: 540px;
}

.header-title,
.header-description {
  margin-left: auto;
  margin-right: auto;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-first-btn {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .header {
    width: auto;
  }

  .header-title {
    max-width: 340px;
  }

  .header-description {
    max-width: 460px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .nav {
    margin: 45px 0 65px 0;
  }

  .header-img-left,
  .header-img-right {
    display: none;
  }

  .header-img-tablet {
    display: block;
    margin-bottom: 72px;
  }
}

@media (max-width: 375px) {
  .header-btns {
    flex-direction: column;
  }

  .header-first-btn {
    margin: 0 0 16px 0;
  }

  .nav {
    margin-bottom: 55px;
  }

  .header-img-tablet {
    max-width: 414px;
    margin-bottom: 48px;
  }
}
